/********** General **********/

html,body {
    height:100%;
}

p {
    color: gray;
}

.page.casing {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.centre {
    display: flex;
    flex-direction: column;
}




/********** Specific **********/

/***** Home Page *****/

body.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(167, 237, 247);
    background-position: top center;
    background-size: 130% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sector-cards {
    display: none;
    justify-content: space-evenly;
    padding-bottom: 8vh;
    width: 100vw;
}

.sector-card {
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(4, 96, 132, 0.808);
}

.sector-card h3 {
    color: rgb(255, 255, 255);
}

body.home .text {
    text-align: center;
}

.home.casing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}



/* Arrows */

.up.arrow {
    opacity: 0;
    display: none;
    transform: rotate(180deg) scale(70%, 70%);
}

.text.slogan {
    opacity: 0;
    display: none;
}

#more-arrows {
    width: 75px;
    height: 65px;
  
    &:hover {
    
        polygon {
        fill: #000;
        transition: all .2s ease-out;

        &.arrow-bottom {
            transform: translateY(-18px);
        }

        &.arrow-top {
            transform: translateY(18px);
        }
        
        }
  
    }
  
}

polygon {
  fill: #000;
  transition: all .2s ease-out;
    
    &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}



/* Mobile */

@media (orientation: portrait) {
    body.home {
        height: 100vh;
    }
    
    .sector-cards {
        flex-wrap: wrap;
        color: white;
    }
}



/* Desktop */

@media (orientation: landscape) {
    body.home {
        width: 100%;
        background-image: url(../Images/Solar\ Farm\ Roof.jpg);
    }
}






/***** Products Page *****/

.products.casing {
    display: grid;
    gap: 40px;
    margin: 10px 0;
}

@media (min-width: 1000px) {
    .products.casing {
        margin: 20px;
    }

    .products > .title {
        grid-column: span 2;
        text-align: center;
    }
}





/***** Contact Page *****/

.contact .page-text {
    margin-bottom: 0;
}

.details.casing {
    margin: 1rem 0;
}

.details .page-text {
    margin-bottom: 0;
}

.details .info {
    color: black;
    margin-bottom: 1.5rem;
}

.contact .page-text {
    font-size: calc(.8rem + .9vw);
}

@media (min-width: 600px) {
    .details.casing {
        display: grid;
        grid-template:  1fr 1fr 1fr / 2fr 7fr;
    }

    .details .info {
        margin-bottom: 0;
    }
}





/***** About Page *****/

.about.page.casing {
    column-gap: 8vw;
}

.about .page-text {
    font-size: calc(.8rem + .7vw);
    max-width: 650px;
}

.about .image img {
    height: calc(27vw + 260px);
}

.about .image {
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .about .image {
        display: none;
    }
}