html,body {
    height:100%;
}

/* Main home section styling */
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: skyblue;
    background-position: top center;
    background-size: 130% auto;
    background-attachment: fixed;
}

.sector-cards {
    display: none;
    justify-content: space-evenly;
    padding-bottom: 8vh;
    width: 100vw;
}

.sector-card {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(4, 96, 132, 0.808);
}

.sector-card h3 {
    color: rgb(255, 255, 255);
}

/* Portrait mode adjustments */
@media (orientation: portrait) {
    .home {/* 
        background-image: url(../Images/Wind\ Turbine.jpg); */
        height: 100vh;
    }
    
    .sector-cards {
        flex-wrap: wrap;
        color: white;
    }
}

/* Landscape mode adjustments */
@media (orientation: landscape) {
    .home {
        width: 100%;
        background-image: url(../Images/Solar\ Farm\ Roof.jpg);
    }
}

/* Grid adjustments for wider screens */
@media (min-width: 1000px) {
    .products > .title {
        grid-column: span 2;
        text-align: center;
    }
}

.products {
    display: grid;
    gap: 40px;
}

p {
    color: gray;
}

.home .text {
    text-align: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}

.up.arrow {
    opacity: 0;
    display: none;
    transform: rotate(180deg) scale(70%, 70%);
}

.text.slogan {
    opacity: 0;
    display: none;
}

#more-arrows {
    width: 75px;
    height: 65px;
  
    &:hover {
    
        polygon {
        fill: #000;
        transition: all .2s ease-out;

        &.arrow-bottom {
            transform: translateY(-18px);
        }

        &.arrow-top {
            transform: translateY(18px);
        }
        
        }
  
    }
  
}

polygon {
  fill: #000;
  transition: all .2s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}

.about {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 210px;
    margin-top: 2vh;
}

.about .image {
    background-image: url(../Images/Suzhou.jpg);
    background-size: cover;
    grid-row: span 2;
}